body,html{
	width: 100%;
	overflow: auto;
}
@media (max-width: 330px) { html,body{font-size: 29px;} }
@media(min-width: 330px) and (max-width: 400px) { html,body{font-size: 33px;} }
@media (min-width: 400px) and (max-width: 700px) { html,body{font-size: 37.5px;} }
@media (min-width: 700px) and (max-width: 1000px){ html,body{font-size: 64px;} }
@media (min-width: 1000px){ html,body{font-size: 91.5px;} }
/*搜索框*/
.nav{
	width: 100%;
	border-bottom:1px solid #666666 ;
	height: 0.72rem;
	background-color: #EEEEEE;
	position:fixed;
	margin-bottom: 0;
	z-index: 10;
}
.logo{
	float: left;
	width: 2.5rem;
	height: 0.6rem;
	background-image: url(../img/logo.png);
	background-size: 100%;
	margin-top: 0.06rem;
	margin-left: 0.2rem;
}
.search{
	width: 6rem;
	height: 0.5rem;
	float: left;
	border: 1px solid orange;
	border-radius: 3px;
	margin-top:0.08rem;
	margin-left: 1rem;
}
#inputGroup{
	width: 80%;
	height: 0.5rem;
	float: left;
	margin: 0;
	font-size: 12px;
	line-height: 0.5rem;
	color: #CCCCCC;
	padding:0 0 0 0.2rem;
	border: 0;
	outline: none;
	box-shadow: none;
	background-color: #EEEEEE;
}
.input-group{
	margin: 0;
	padding: 0;
	
	width: 9%;
	height: 0.5rem;	
	background: url(../img/01.png) no-repeat orange;
	background-size: 80% 80%;
	background-position:75% 50%;
	float: right;
	font-size: 0.5rem;
	color: white;
}
/*头部*/
.titles{
	width: 100%;
	height: 1rem;
	line-height:0;
	margin-top: 0.72rem;
}
.intitle{
	width: 96%;
	margin: auto;
	height: 1rem;
}
.homePage{
	width: 8%;
	float: left;
	display: inline-block;
	font-size: 0.32rem;
	line-height: 1rem;
	text-align: center;
	color: #000000;
	margin-right: 0.6rem;
}
.icons{
	width: 4%;
	height: 1rem;
	float: right;
	line-height: 0.75rem;
	margin-left: 0.6rem;
}
.imgs{
	width: 100%;
}
/*轮播图*/
.swiper-container{
	height: 6.75rem;
	width: 100%;
}
.picture{
	height: 6.75rem;
	width: 100%;
}
.picture1{
	background: url(../img/1.jpg) no-repeat;
	background-size:100% 100%;
}
.picture2{
	background: url(../img/2.jpg) no-repeat;
	background-size:100% 100%;
}
.picture3{
	background: url(../img/3.jpg) no-repeat;
	background-size:100% 100%;
}
.picture4{
	background: url(../img/4.jpg) no-repeat;
	background-size:100% 100%;
}
.picture5{
	background: url(../img/5.jpg) no-repeat;
	background-size:100% 100%;
}
/*限时抢*/
.xsq,.xbjx,.yhj,.cnxh{
    width: 100%;
    overflow: hidden;
    background: #f5f5f5;
    font-size: 0.5rem;
}
.bt-title {
    width: 6.4rem;
    margin: .6666666667rem auto;
    position: relative;
    height: 1px;
    background: #ccc;
    box-shadow: 0 1px 0 #fff;
}
.bt-title span {
   /* font-size: 16px;*/
    color: #646464;
    display: inline-block;
    padding: 0 .2666666667rem 0 1.0666666667rem;
    position: absolute;
    height: .5333333333rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #f5f5f5;
    line-height: .5333333333rem;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
}
/*.bt-title::after,.bt-title::before {
    position: absolute;
    content: '';
    width: .1066666667rem;
    height: .1066666667rem;
    border-radius: 50%;
    background: #ccc;
    top: -.0533333333rem;
    box-shadow: 0 1px 0 #fff;
}*/
.bt-title span::after {
    width: .5066666667rem;
    height: .4266666667rem;
    top: .0533333333rem;
    left: .4rem;
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-image: url(../img/time.png);
}

.xsq .xsq-list {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    background: #fff;
    padding: .4266666667rem .2133333333rem;
    font-size: 0;
}
.xsq .xsq-list .item {
    position: relative;
    display: inline-block;
    width: 7.4666666667rem;
    height: 3.4666666667rem;
    margin: 0 .2133333333rem 0 0;
    color: #333;
    text-decoration: none;
}
.xsq .xsq-list .item .pic {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: .1333333333rem;
}
.xsq .xsq-list .item .xsq-countdown {
    position: absolute;
    left: -.1066666667rem;
    bottom: .1066666667rem;
    width: 2.5066666667rem;
    height: .4266666667rem;
    background-image: url(../img/red.png);
    color: #fff;
    font-size: 9px;
    text-indent: .1866666667rem;
    line-height: .3733333333rem;
}
 .bt-title span.tag-xbjx::after {
    background-image: url(../img/suo.png);
}
/*小编推荐*/
.xbjx .content {
    border: .2133333333rem solid #fff;
    background: #fff;
    position: relative;
    overflow: hidden;
    font-size: 0;
}
.xbjx .content .desc {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
}
.xbjx .content .desc .text {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
    overflow: hidden;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    text-align: center;
    color: #fff;
}
.xbjx .content .desc .text h2 {
    font-weight: 400;
    font-size: 17px;
    padding-bottom: .5333333333rem;
}
.xbjx .content .desc .text a {
    display: inline-block;
    padding: .1333333333rem .5333333333rem .1333333333rem .4rem;
    border-radius: .2666666667rem;
    border: 1px solid #fff;
    color: #fff;
    margin: 1px;
    position: relative;
    font-size: 13px;
}
.xbjx .content .desc .text a::after {
    content: '';
    position: absolute;
    top: 50%;
    width: .16rem;
    height: .16rem;
    border-width: 2px;
    border-style: solid;
    border-color: #fff #fff transparent transparent;
    -webkit-transform: translate(0,-50%) rotate(45deg);
    transform: translate(0,-50%) rotate(45deg);
}
/*商品集*/
.yhj span.tag-yhj::after{
	 background-image: url(../img/gwd.png);
}
/*分类列表*/
.good-list{
	width: 100%;
	overflow: hidden;
}
.list{
	width: 100%;
	overflow: hidden;
}
.pic-main{
	width: 100%;
	overflow: hidden;
}
.pic-main img{
	width: 100%;
	display: block;
	padding: 0; 
	margin: 0;
}
.product{
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 0.213333rem 0 0;
}
.product ul{
	width:100%;
	white-space: nowrap;
	overflow: hidden;
	list-style-type: none;
	padding: 0 0.426667rem;
	font-size: 0;
	margin: 0;
	overflow-x: auto;
	box-sizing: border-box;
}
.product ul li{
	width: 2.88rem;
    margin-right: 0.2133333333rem;
    display: inline-block;
    height: 4.2133333333rem;
    overflow: hidden;
}
.product ul li a {
    display: inline-block;
    overflow: hidden;
    float: left;
    height: 4.2133333333rem;
}
.product ul li a img {
    width: 2.88rem;
    height: 2.88rem;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    float: left;
    border: 1px solid #f5f5f5;
}
.product ul li a span{
	padding: .0533333333rem 0;
    text-indent: .1333333333rem;
    color: #383838;
    font-size: 12px;
    line-height: .5333333333rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    width: 100%;
}
.product ul li a p {
    width: 100%;
    padding: 0 .1333333333rem;
    color: #c33;
    font-size: 12px;
    text-indent: -.0533333333rem;
    height: .5333333333rem;
    text-align: center;
    font-family: PingFang;
}
/*猜你喜欢*/
.cnxh span.tag-yhj::after{
	 background-image: url(../img/cnxh.png);
}
.interested{
	padding: 0 .4266666667rem .2666666667rem;
    background: #f5f5f5;
    overflow: hidden;
}
.product-list{
	width: 100%;
	margin: .5333333333rem 0 0 0;
}
.interested .product-wrapper:nth-child(2n+1) {
    padding-right: .1066666667rem;
    box-sizing: border-box;
}
.interested .product-wrapper {
    width: 50%;
    float: left;
    margin-bottom: .2133333333rem;
}
.product-wrapper a{
	display: block;
	height: 7rem;
	position: relative;
	background-color: #FFFFFF;
}
.info{
	padding: 0 .16rem;
    position: relative;
    box-sizing: border-box;
}
.name{
	height: .9066666667rem;
    font-size: 12px;
    color: #383838;
    line-height: .4533333333rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    margin: .2666666667rem 0 0;
}
.price{
	line-height: 1;
    font-size: 0.6rem;
    color: #c33;
}
/*查看更多*/
.btn-like-more,.btn-like-more-over {
    margin: .2666666667rem auto;
    line-height: .8rem;
    color: #9b9b9b;
    display: none;
    width: 96%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 0.4rem;
    border: 1px solid #dedede;
    background: #fff;
}
.btn-like-more{
	display: block;	
}
.btn-like-more-over{
	display:none;
}
/*loading*/
.load-more {
    width: 100%;
    height: 1.3333333333rem;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.load-more #loading {
    width: 1.02rem;
    height: .8733333333rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    /*opacity: 0;*/
    background-image: url(../img/01.gif);
    background-size: 100% 100%;
}
/*底部*/
.footer {
    width: 100%;
    overflow: hidden;
    background: #f5f5f5;
    padding-bottom: 1.7333333333rem;
}
.footer .text {
    font-size: 0.4rem;
    color: #646464;
    text-align: center;
    margin-top: 0.3rem;
}
.footer .desc {
    text-align: center;
    color: #9b9b9b;
    font-size: 0.3rem;
}
.footer .text a {
    color: #646464;
    display: inline-block;
    padding: .1333333333rem .08rem;
}
/*返回顶部*/
.go-top {
    position: fixed;
    right: .4266666667rem;
    bottom: 1.92rem;
    width: 1.0666666667rem;
    height: 1.0666666667rem;
    background-image: url(../img/db.png);
    display: none;
    background-size: 100% 100%;
}